<div class="body-container">
    <div class="container">
        <div class="login-image"></div>
        <div class="login-form">
            <div *ngIf="isLoading()" class="mat-spinner-container">
                <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="isLoaded()">
                <h3>{{'MODULES.AUTH.RESET_PASSWORD.TITLE' | translate }}</h3>
                <!-- Send email to user -->
                <form *ngIf="!emailStep" [formGroup]="formGroup" (ngSubmit)="submit()">
                    <div class="form-field">
                        <div class="with-icon">
                            <input autocomplete="new-password" type="password" placeholder="{{'MODULES.AUTH.RESET_PASSWORD.PLACEHOLDER' | translate }}" formControlName="new_password"
                                [ngClass]="{'is-invalid': formErrors.new_password}">
                            <i class="fas fa-lock"></i>
                        </div>
                        <span class="invalid-feedback" *ngIf="formErrors.new_password">
                            {{ formErrors.new_password }}
                        </span>
                    </div>
                    <div class="form-field">
                        <div class="with-icon">
                            <input type="password" placeholder="{{'MODULES.AUTH.RESET_PASSWORD.PLACEHOLDER_CONFIRM' | translate }}"
                                formControlName="confirm_new_password"
                                [ngClass]="{'is-invalid': formErrors.confirm_new_password}">
                            <i class="fas fa-lock"></i>
                        </div>
                        <span class="invalid-feedback" *ngIf="formErrors.confirm_new_password">
                            {{ formErrors.confirm_new_password }}
                        </span>
                    </div>
                    <div class="button text-center">
                        <button type="submit" class="btn btn-success">{{'MODULES.AUTH.RESET_PASSWORD.RESET' | translate }}</button>
                    </div>
                </form>
                <!-- User can reset the password -->
                <form [formGroup]="emailFormGroup" (ngSubmit)="submit()">
                    <div *ngIf="emailStep && !emailWasSent" class="form-field">
                        <div class="with-icon mb-2">
                            <input type="email" placeholder="{{'MODULES.AUTH.RESET_PASSWORD.PLACEHOLDER_EMAIL' | translate }}" formControlName="email"
                                [ngClass]="{'is-invalid': emailFormErrors.email}">
                            <i class="fas fa-user"></i>
                        </div>
                        <span class="invalid-feedback" *ngIf="emailFormErrors.email">
                            {{ emailFormErrors.email }}
                        </span>
                        <re-captcha id="recaptcha" name="recaptcha" formControlName="recaptcha" required></re-captcha>
                    </div>
                    <span class="invalid-feedback" *ngIf="emailFormErrors.recaptcha && !emailWasSent">
                        {{ emailFormErrors.recaptcha }}
                    </span>
                    <span *ngIf="emailWasSent" class="email_sent--message">{{'MODULES.AUTH.RESET_PASSWORD.DESCR_1' | translate }}
                       <br/> {{'MODULES.AUTH.RESET_PASSWORD.DESCR_2' | translate }}</span>
                    <div  *ngIf="emailStep && !emailWasSent"  class="button text-center">
                        <button type="submit" class="btn btn-success">{{'MODULES.AUTH.RESET_PASSWORD.SEND' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>